<div>
    <h1>Project Euler Solutions</h1>

    <div class="highlight">
        <p>My answers to the puzzles at <a href="https://projecteuler.net/">Project Euler</a>, written in
            Javascript. Solution script is run on selection.</p>

        <p><em>Runtime is a rough estimate only and calculated in browser when selected.</em></p>
    </div>


    <div class="loading-indicator">
        <span ng-show="loading" class="glyphicon glyphicon-hourglass">   Running...</span>
    </div>

    <p class="solution-buttons">
        <button class="btn btn-primary euler-button"
                ng-repeat="solution in solutionList"
                ng-click="open(solution)">{{ solution }}
        </button>
    </p>
</div>
